.card {
    width: 720px;
    margin: 0 auto;
    margin-top: 50px;
}

.hole-game {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.hole {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 150px;
    margin: 0 15px 30px;
    
    background: #c5c5c5;
    border-radius: 50%;
}

.goblin {
    width: 120px;
    height: 120px;
    background-image: url('../img/goblin.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}